<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/navbar'); %>
    <%- include('template/educacion'); %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Contactame</h1></center>
        <br>
        <fieldset>
        <center>
            <img style="border: 3px solid; color: black;" src="./static/4.png" alt=""  width="520" height="520" align="right"><p>Telefono</p>
        <p>3194298295</p>
        <p>Correo</p>
        <p>andresoler00@gmail.com</p>
        <p>Nombres</p>
        <p>Andres Camilo</p>
        <p>Apellidos</p>
        <p>Olaya Soler</p>
        <p>Cuidad de Rcidencia</p>
        <p>Bogota DC - Colombia</p>
    </center>
    </fieldset>
<div>
 </div>
</body>
</html>