<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/navbar'); %>
    <%- include('template/educacion'); %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Educación</h1></center>
<fieldset>
        <h2><img style="border: 5px solid; color: black;" src="./static/colegio.png" alt=""  width="540" height="235" align="right"><br> Educación primaria y secundaria</h2>
        <br>
        <p>Colegio Juan Luis Londoño IDE La Salle</p>
        <p>2010 - 2021</p>
        </fieldset>
    <br>
    <fieldset>
        <h2><img style="border: 5px solid; color: black;" src="./static/sena.jpg" alt=""  width="560" height="315" align="right"><br> Educación Complementaria</h2>
        <p>SENA Técnico en Programación de software</p>
        <p>2020 - 2021</p>
        <br>
        <p>SENA Tecnólogo en Análisis y Desarrollo de Sistemas de Información</p>
        <p>Cursadon Actualmente</p>
        </fieldset>
    <br>
    <fieldset>
        <h2><img  style="border: 5px solid; color: black;" src="./static/salud.jpg" alt=""  width="560" height="315"; align="right">Cursos para la salud en el trabjo</h2>
        <p>Tecnologo - Aun no terminado</p>
        <p>2022</p>
        </fieldset>
    
<br><br>
<div>
 </div>
</body>
</html>