<%- include('template/navbar'); %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vídeo Background</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
  </head>
  <body>
    <center>
        <h1>Portafolio Andres Camilo Olaya</h1>
        <fieldset>
        <p>Ingeniero de software entusiasta de la tecnologia y en la creacion de paginas web, con conocimiento en el area de base de datos.</p>
        <br>
        <p>En la barra de arriba encontrara toda la informacion en mi portafolio, espero sea de su agrado</p>
      </fieldset>
      </div>
    </center>
    </header>
  </body>
</html>