<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/navbar'); %>
    <%- include('template/educacion'); %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Informacion</h1></center>
<fieldset>
    <img style="border: 3px solid; color: black;" src="./static/a.png" alt=""  width="500" height="220" align="right">
    <h2>Programas que manejo</h2>
    <p>Manejo en programas de programacion lo que seria Netbetts, Visual Studio, MyAdminPhp y Github; ya saliendo del teman de la programacion manejo lo que seria Krita, Camptasia Studio, SonyVegas 17 y Paint Too Sai</p>
    <img style="border: 3px solid; color: black;" src="./static/b.jpg" alt=""  width="500" height="220" align="right">
    <h2>Lenguajes que manejo</h2>
    <p>Manejo Sql donde es mi fuerte pero tambien manejo Php, Java, JS y tengo un manejo de HTML y CSS</P>
</fieldset>

    </div>
    
   
    
<br><br>
<div>
 </div>
</body>
</html>